In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sanja_m20ck7b\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sanja_m20ck7b\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 4.6 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.5 MB 2.9 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.5 MB 3.1 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.5 MB 3.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 3.0 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.5 MB 3.0 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.5 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.5 MB 3.1 MB/s eta 0:00:03
   --------------------- ------------------ 6.0/11.5 MB 3.2 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 3.3 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.5 MB 3.4 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 3.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.4 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.6 MB 4.0 MB/s eta 0:00:03
   ----- ---------------------------------- 1.8/12.6 MB 4.3 MB/s eta 0:00:03
   -------- ------------------------------- 2.6/12.6 MB 4.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.4/12.6 MB 4.2 MB/s eta 0:00:03
   -------------- ------------------------- 4.5/12.6 MB 4.3 MB/s eta 0:00:02
   ---------------- ----------------------- 5.2/12.6 MB 4.2 MB/s eta 0:00:02
   ------------------- -------------------- 6.0/12.6 MB 4.1 MB/s eta 0:00:02
   --------------------- ------------------ 6.8/12.6 MB 4.1 MB/s eta 0:00:02
   ------------------------ --------------- 7.6/12.6 MB 4.1 MB/s eta 0:00:02
   --------------------------- ------------ 8.7/12.6 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.6 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 10.5/12.6 MB 4.2 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 4.1 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

In [5]:
import pandas as pd

data = [{
    "name": "sanjai",
    "email": "sanjai@gmail.com",
    "age": 22
},
{
    "name": "siva",
    "email": "siva@gmail.com",
    "age": 23
}]

result = pd.DataFrame(data)
print(result)

     name             email  age
0  sanjai  sanjai@gmail.com   22
1    siva    siva@gmail.com   23

In [6]:
import pandas as pd

data = [{
    "name": "sanjai",
    "email": "sanjai@gmail.com",
    "course": "Python"
},
{
    "name": "kannan",
    "email": "kannan@gmail.com",
    "course": "MERN"
},
{
    "name": "siva",
    "email": "siva@gmail.com",
    "course": "Data Science"
},
{
    "name": "Rahul",
    "email": "Rahul@gmail.com",
    "course": "C++"
},
{
    "name": "Ajay",
    "email": "Ajay@gmail.com",
    "course": "AI & ML"
}]

result = pd.DataFrame(data)
print(result)

     name             email        course
0  sanjai  sanjai@gmail.com        Python
1  kannan  kannan@gmail.com          MERN
2    siva    siva@gmail.com  Data Science
3   Rahul   Rahul@gmail.com           C++
4    Ajay    Ajay@gmail.com       AI & ML

In [15]:
df = pd.DataFrame()

df["Name"] = ["Sanjai", "Siva", "Kannan", "Rahul", "Ajay"]
df["age"] = [22, 23, 24, 25, 26]
df

     Name  age
0  Sanjai   22
1    Siva   23
2  Kannan   24
3   Rahul   25
4    Ajay   26

In [16]:
import pandas as pd

result = pd.read_csv(r"c:\Users\sanja_m20ck7b\Downloads\annual-enterprise-survey-2023-financial-year-provisional.csv")
result

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [20]:
import pandas as pd

result = pd.read_excel(r"D:\AI & ML Learning\Day-1\Module_4\Day-1\stock.xlsx")

result

     INVESTMENT VALUES     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                  NaN            NaN        NaN        NaN        NaN
1                  NaN            NaN        NaN        NaN        NaN
2          Corporation  Ticker Symbol      Price     Shares      Value
3          Amazon.com            AMZN        NaN        250          0
4           Home Depot             HD        NaN        300          0
5                Intel           INTC        NaN        300          0
6  Johnson and Johnson            JNJ        NaN        100          0
7            Microsoft           MSFT        NaN        200          0
8                  NaN            NaN        NaN        NaN          0

In [19]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import pandas as pd

result = pd.read_csv(r"c:\Users\sanja_m20ck7b\Downloads\annual-enterprise-survey-2023-financial-year-provisional.csv")
result

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [ ]:
import pandas as pd

result = pd.read_csv(r"c:\Users\sanja_m20ck7b\Downloads\annual-enterprise-survey-2023-financial-year-provisional.csv")
print(result.head(10)) # First 10 rows

   Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC  \
0  2023                     Level 1                99999       All industries
1  2023                     Level 1                99999       All industries
2  2023                     Level 1                99999       All industries
3  2023                     Level 1                99999       All industries
4  2023                     Level 1                99999       All industries
5  2023                     Level 1                99999       All industries
6  2023                     Level 1                99999       All industries
7  2023                     Level 1                99999       All industries
8  2023                     Level 1                99999       All industries
9  2023                     Level 1                99999       All industries

                Units Variable_code  \
0  Dollars (millions)           H01
1  Dollars (millions)           H04
2  Dollars (millions)           H05
3  Dollars (millions)           H07
4  Dollars (millions)           H08
5  Dollars (millions)           H09
6  Dollars (millions)           H10
7  Dollars (millions)           H11
8  Dollars (millions)           H12
9  Dollars (millions)           H13

                                     Variable_name      Variable_category  \
0                                     Total income  Financial performance
1  Sales, government funding, grants and subsidies  Financial performance
2                Interest, dividends and donations  Financial performance
3                             Non-operating income  Financial performance
4                                Total expenditure  Financial performance
5                           Interest and donations  Financial performance
6                                   Indirect taxes  Financial performance
7                                     Depreciation  Financial performance
8                          Salaries and wages paid  Financial performance
9                         Redundancy and severance  Financial performance

    Value                             Industry_code_ANZSIC06
0  930995  ANZSIC06 divisions A-S (excluding classes K633...
1  821630  ANZSIC06 divisions A-S (excluding classes K633...
2   84354  ANZSIC06 divisions A-S (excluding classes K633...
3   25010  ANZSIC06 divisions A-S (excluding classes K633...
4  832964  ANZSIC06 divisions A-S (excluding classes K633...
5   55267  ANZSIC06 divisions A-S (excluding classes K633...
6    7426  ANZSIC06 divisions A-S (excluding classes K633...
7   30814  ANZSIC06 divisions A-S (excluding classes K633...
8  147663  ANZSIC06 divisions A-S (excluding classes K633...
9     269  ANZSIC06 divisions A-S (excluding classes K633...

In [25]:
import pandas as pd

result = pd.read_csv(r"c:\Users\sanja_m20ck7b\Downloads\annual-enterprise-survey-2023-financial-year-provisional.csv")
print(result.tail(10)) # Last 10 rows

       Year Industry_aggregation_NZSIOC Industry_code_NZSIOC  \
50975  2013                     Level 3                 ZZ11
50976  2013                     Level 3                 ZZ11
50977  2013                     Level 3                 ZZ11
50978  2013                     Level 3                 ZZ11
50979  2013                     Level 3                 ZZ11
50980  2013                     Level 3                 ZZ11
50981  2013                     Level 3                 ZZ11
50982  2013                     Level 3                 ZZ11
50983  2013                     Level 3                 ZZ11
50984  2013                     Level 3                 ZZ11

             Industry_name_NZSIOC               Units Variable_code  \
50975  Food product manufacturing  Dollars (millions)           H32
50976  Food product manufacturing  Dollars (millions)           H33
50977  Food product manufacturing             Dollars           H34
50978  Food product manufacturing             Dollars           H35
50979  Food product manufacturing          Percentage           H36
50980  Food product manufacturing          Percentage           H37
50981  Food product manufacturing          Percentage           H38
50982  Food product manufacturing          Percentage           H39
50983  Food product manufacturing          Percentage           H40
50984  Food product manufacturing          Percentage           H41

                             Variable_name   Variable_category    Value  \
50975                  Current liabilities  Financial position   10,212
50976                    Other liabilities  Financial position    2,220
50977      Total income per employee count    Financial ratios  523,700
50978           Surplus per employee count    Financial ratios   17,700
50979                        Current ratio    Financial ratios       91
50980                          Quick ratio    Financial ratios       52
50981  Margin on sales of goods for resale    Financial ratios       40
50982                     Return on equity    Financial ratios       12
50983               Return on total assets    Financial ratios        5
50984                Liabilities structure    Financial ratios       46

                                  Industry_code_ANZSIC06
50975  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50976  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50977  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50978  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50979  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50980  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50981  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50982  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50983  ANZSIC06 groups C111, C112, C113, C114, C115, ...
50984  ANZSIC06 groups C111, C112, C113, C114, C115, ...

In [26]:
import pandas as pd

result = pd.read_csv(r"c:\Users\sanja_m20ck7b\Downloads\annual-enterprise-survey-2023-financial-year-provisional.csv")
print(result.info()) # Information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50985 entries, 0 to 50984
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         50985 non-null  int64
 1   Industry_aggregation_NZSIOC  50985 non-null  object
 2   Industry_code_NZSIOC         50985 non-null  object
 3   Industry_name_NZSIOC         50985 non-null  object
 4   Units                        50985 non-null  object
 5   Variable_code                50985 non-null  object
 6   Variable_name                50985 non-null  object
 7   Variable_category            50985 non-null  object
 8   Value                        50985 non-null  object
 9   Industry_code_ANZSIC06       50985 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB
None

In [27]:
import pandas as pd

result = pd.read_csv(r"c:\Users\sanja_m20ck7b\Downloads\annual-enterprise-survey-2023-financial-year-provisional.csv")
print(result.describe()) # Description of the data

               Year
count  50985.000000
mean    2018.000000
std        3.162309
min     2013.000000
25%     2015.000000
50%     2018.000000
75%     2021.000000
max     2023.000000